@font-face
{
    font-family: 'otcpharm-header-c-r';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/cuprum-webfont.woff') format('woff');
}

.otcpharm-header
{
    position: relative;
    z-index: 10;

    width: 100%;
    min-width: 100%;
    height: 42px;

    background: #f3f3f3;
}

.otcpharm-header__layout
{
    position: relative;

    width: 100%;
    /*max-width: 972px;*/
    height: 100%;
    margin: auto;
}

.otcpharm-header-logo
{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 20px;

    display: block;

    width: 105px;
    height: 100%;

    border: 0 !important;
    outline: none !important;
}

.otcpharm-header-logo__image
{
    display: block;

    padding: 8px 0 0 0;

    vertical-align: middle;
}

.otcpharm-header-links
{
    font-size: 0;

    position: relative;

    overflow: hidden;

    box-sizing: content-box;
    margin: 0 0 0 188px;
    padding: 0 0 0 32px;

    white-space: nowrap;

    &:after
    {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;

        width: 50px;
        height: 100%;

        content: '';

        background: linear-gradient(left, rgba(255,255,255,0) 0%,rgba(243,243,243,1) 50%);
    }

    &:before
    {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;

        width: 50px;
        height: 100%;

        content: '';

        background: linear-gradient(right, rgba(255,255,255,0) 0%,rgba(243,243,243,1) 50%);
    }

    @media screen and (max-width: 640px)
    {
        position: absolute;
        top: 42px;
        left: 0;

        visibility: hidden;

        width: 100%;
        margin: 0;
        padding: 0;

        transition: opacity 300ms ease-in-out;

        opacity: 0;
        background: rgba(255, 255, 255, .9);

        &.open
        {
            visibility: visible;

            opacity: 1;
        }

        &:after
        {
            display: none;
        }

        &:before
        {
            display: none;
        }
    }
}

.otcpharm-header-wrap
{
    position: relative;

    display: inline-block;

    width: auto;

    transition: all 300ms linear;
    white-space: nowrap;

    @media screen and (max-width: 640px)
    {
        display: block;

        white-space: normal;
    }
}

.otcpharm-header-links__item
{
    font-family: 'otcpharm-header-c-r', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 12px;

    display: inline-block;

    padding: 15px 12px 15px;

    transition: color 300ms ease, background 300ms ease;
    text-decoration: none;
    text-transform: uppercase;

    color: #ccc;
    border: 0;
    background: rgba(255, 255, 255, 0);

    &.active,
    &:hover
    {
        color: #555;
        background: #fff;
    }

    @media screen and (max-width: 640px)
    {
        font-size: 21px;
        line-height: 60px;

        display: block;

        width: 100%;
        height: 60px;
        padding: 0;

        text-align: center;
        text-transform: none;

        color: #005aac;
        border-bottom: 1px solid rgba(165, 165, 165, .1);
        background: none;

        &:hover
        {
            color: #0065c1;
            border-bottom: 1px solid rgba(165, 165, 165, .1);
            background: none;
        }
    }
}

.otcpharm-header__scroll-left
{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    display: none;

    width: 32px;
    height: 100%;

    cursor: pointer;
    transition: opacity 300ms ease;

    opacity: .4;

    &:before
    {
        position: absolute;
        top: 50%;
        left: 50%;

        width: 16px;
        height: 16px;
        margin: -8px 0 0 -8px;

        content: '';

        background: url('../images/otcpharm-sprite.png') no-repeat 0 0 transparent;
    }

    &.active
    {
        display: block;
    }

    @media screen and (max-width: 640px)
    {
        display: none !important;
    }
}

.otcpharm-header__scroll-right
{
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;

    display: none;

    width: 32px;
    height: 100%;

    cursor: pointer;
    transition: opacity 300ms ease;

    opacity: .4;

    &:before
    {
        position: absolute;
        top: 50%;
        left: 50%;

        width: 16px;
        height: 16px;
        margin: -8px 0 0 -8px;

        content: '';

        background: url('../images/otcpharm-sprite.png') no-repeat 0 -16px transparent;
    }

    &.active
    {
        display: block;
    }

    @media screen and (max-width: 640px)
    {
        display: none !important;
    }
}

.otcpharm-header-menu-caption
{
    font-family: 'otcpharm-header-c-r', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 42px;

    position: absolute;
    top: 0;
    right: 0;

    display: none;

    width: 120px;
    height: 100%;

    cursor: pointer;
    user-select: none;
    text-transform: uppercase;

    color: #005aac;

    @media screen and (max-width: 640px)
    {
        display: block;
    }

    &.open
    {
        &:after
        {
            transform: rotate(180deg);
        }
    }

    &:after
    {
        position: absolute;
        top: 18px;
        left: 64px;

        width: 0;
        height: 0;

        content: '';

        border-width: 5px 4px 0 4px;
        border-style: solid;
        border-color: #4da2d7 transparent transparent transparent;
    }
}
